.cart-body {
  height: 60%;
  width: 100%;
  background-color: #cccc99;
  z-index: 1;
  margin: auto;
  position: fixed;
  right: 0px;
  overflow-y: scroll;
}

@media (min-width: 991px) {
  .cart-body {
    width: 40%;
    height: 95%;
    overflow-y: scroll;
    justify-content: center;
  }
}

@media (min-width: 765px) and (max-width: 991px) {
  .cart-body {
    width: 50%;
    height: 75%;
    overflow-y: scroll;
    justify-content: center;
  }
}
