.main-div {
  text-align: left;
  margin-top: 2rem;
  padding-top: 2rem;
  margin: auto;
}

.sec-div {
  text-align: left;
  margin: auto;
  border-radius: 2rem;
  height: 60%;
  width: 80%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #eeeedd;
}

@media (max-width: 600px) {
  .main-div {
    padding-top: 2rem;
  }

  .sec-div {
    height: 60%;
    width: 90%;
    background-color: eeeedd;
    padding: 1rem auto;
    margin: 1rem auto;
  }

  .image {
    border-radius: 0.8rem;
    position: relative;
    width: 100%;
    height: 80%;
  }
}

.image {
  border-radius: 0.8rem;
  position: relative;
  width: 100%;
  height: 80%;
}
