.navLink {
  font-size: large;
  padding: 1%;
  text-decoration: none;
  color: gray;
  margin: 0% 10px;
}

.navLink:hover,
a.active {
  color: lightblue;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid lightblue;
}
